<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>
	{{ title }}
</title>
{% if robots %}
	<meta name="robots" content="{{ robots }}"/>
{% endif %}
<base href="{{ base }}"/>
{% if description %}
	<meta name="description" content="{{ description }}"/>
{% endif %}
{% if keywords %}
	<meta name="keywords" content="{{ keywords }}"/>
{% endif %}

{% for link in hreflang %}
	<link rel="alternate" hreflang="{{ link.hreflang }}" href="{{ link.href }}">
{% endfor %}

<link rel="icon" type="image/png" href="/catalog/view/theme/tailwind/image/favicon/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/svg+xml" href="/catalog/view/theme/tailwind/image/favicon/favicon.svg"/>
<link rel="shortcut icon" href="/catalog/view/theme/tailwind/image/favicon/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/catalog/view/theme/tailwind/image/favicon/apple-touch-icon.png"/>
<meta name="apple-mobile-web-app-title" content="octailwind"/>
<link rel="manifest" href="/catalog/view/theme/tailwind/image/favicon/site.webmanifest"/>

<link href="catalog/view/theme/tailwind/stylesheet/tailwind.css" rel="stylesheet"/>
{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
{% endfor %}
{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{% for link in links %}
	<link href="{{ link.href }}" rel="{{ link.rel }}"/>
{% endfor %}
{% for analytic in analytics %}
	{{ analytic }}
{% endfor %}
