{% set class = 'col-span-12 ' %}
{% if column_left and column_right %}
	{% set class = class ~ 'lg:col-span-6' %}
{% elseif column_left or column_right %}
	{% set class = class ~ 'lg:col-span-9' %}
{% else %}
	{% set class = class ~ 'lg:col-span-12' %}
{% endif %}

<div class="container mx-auto px-2">
	{% include 'tailwind/components/breadcrumbs.twig' %}

</div>
<div class="container mx-auto px-2 grid grid-cols-1 lg:grid-cols-12 gap-6">
	{{ column_left }}
	<main class="{{ class }}">
		<div class="flex pb-5 justify-between flex-col lg:flex-row gap-3">
			<div class="flex gap-2 min-sm:items-center max-sm:flex-col">
				<h1 class="heading text-2xl text-neutral-800 mb-0">
					{% if categories %}
						{% for category in categories %}
							{{ category.name }}
						{% endfor %}
					{% else %}
						{{ heading_title }}
					{% endif %}
				</h1>
				<p class="text-neutral-500 text-lg">{{ product_count }}</p>
			</div>
			{# <hr class="divider"> #}
			<div class="flex gap-5 items-center">
				<button id="filterButton" data-size="small" class="border border-neutral-300 button-secondary lg:hidden flex-1 basis-0">
					<svg>
						<use href="/assets/icons/sprite.svg#lucide-filter"></use>
					</svg>
					Фільтр
				</button>

				<div class="dropdown flex-1 basis-0" data-align="center">
					<button id="dropdownButton" data-size="small" class="border w-full border-neutral-300 button-secondary">
						<svg class="rotate-90">
							<use href="/assets/icons/sprite.svg#lucide-arrow-left-right"></use>
						</svg>
						{{ text_sort }}
					</button>

					<div id="dropdownMenu" class="dropdown-menu">
						{% for sort in sorts %}
							<button class="dropdown-item" onclick="location = '{{ sort.href }}'">
								{{ sort.text }}
							</button>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		{# {% if categories %}
																			<section class="w-full mb-2" aria-label="Categories">
																				<div class="grid grid-cols-2 xl:grid-cols-3 gap-4">
																					{% for category in categories %}
																						<a href="{{ category.href }}">{{ category.name }}</a>
																					{% endfor %}
																				</div>
																			</section>
																		{% endif %} #}

		{{ content_top }}

		{% if products %}
			<section class="grid grid-cols-2 sm:grid-cols-3 2xl:grid-cols-5 xl:grid-cols-4 product-grid" aria-label="Products">
				{% for product in products %}
					{% include 'tailwind/components/product-card.twig' with {
                        product: product
                    } %}
				{% endfor %}
			</section>

			<section class="flex justify-between my-2" aria-label="Pagination and Results">
				{{ pagination }}
				{# {{ results }} #}
			</section>
		{% endif %}

		{% if not products %}
			<section class="w-full md:w-1/2 mx-auto my-8" aria-label="Empty">
				<p class="heading">
					{{ text_empty }}
				</p>
				<p>
					{{ text_empty }}
				</p>
				<a href="{{ continue }}" class="button button-primary mt-4">{{ button_continue }}</a>
			</section>
		{% endif %}

		{{ content_bottom }}
	</main>
	{{ column_right }}</div>
