{% if reviews %}
	<div class="flex flex-col gap-4">
		{% for review in reviews %}
			<div class="rounded-lg border border-neutral-200 bg-white p-4 dark:border-neutral-800 dark:bg-neutral-900">

				<!-- HEADER -->
				<div class="mb-2 flex items-center justify-between">
					<div class="font-semibold text-neutral-900 dark:text-white">
						{{ review.author }}
					</div>

					<div class="text-xs text-neutral-500">
						{{ review.date_added }}
					</div>
				</div>

				<!-- TEXT COLLAPSIBLE -->
				<div class="review-text-wrapper" data-collapsible>
					<div class="review-text-content line-clamp-3" data-collapsible-content>
						<p class="text-sm leading-relaxed text-neutral-700 dark:text-neutral-300">
							{{ review.text }}
						</p>
					</div>

					<button
						type="button"
						class="collapse-toggle cursor-pointer mt-2 hidden items-center gap-1 text-primary"
						data-collapsible-toggle
					>
						Показати більше
					</button>
				</div>
				<!-- STARS -->
				<div class="mt-3 flex items-center gap-1">
					{% for i in 1..5 %}
						<svg
							class="{% if review.rating >= i %}text-orange-500{% else %}text-neutral-300 dark:text-neutral-600{% endif %} h-4 w-4"
							viewBox="0 0 24 24"
						>
							<use href="/assets/icons/sprite.svg#lucide-star"></use>
						</svg>
					{% endfor %}
				</div>

			</div>
		{% endfor %}

		<!-- PAGINATION -->
		<div class="my-2 flex mb-4 mt-0 justify-between flex-1">
			{{ pagination }}
		</div>
	</div>
{% else %}
	<p class="text-sm text-neutral-500 mb-3">
		{{ text_no_reviews }}
	</p>
{% endif %}